{{#if this.activeRequestRect}}
  <ActiveRequest
    class={{this.activeRequestClass}}
    @request={{this.activeRequestRect.request}}
  />
{{/if}}

<aside>
  <ul>
    {{#each this.categoryIdsActive as |keyAndActive|}}
      <li>
        <Input
          @id="category-checkbox-{{keyAndActive.key}}"
          @type="checkbox"
          @checked={{keyAndActive.active}}
          {{on "input" (fn @toggleCategory keyAndActive.key)}}
        />

        <label for="category-checkbox-{{keyAndActive.key}}">
          <span class="category-swatch category-{{keyAndActive.key}}"></span>
          {{keyAndActive.label}}
          <span class="count">{{keyAndActive.count}}</span>
        </label>
      </li>
    {{/each}}
  </ul>

  <ul>
    {{#each this.statusIdsActive as |keyAndActive|}}
      <li>
        <Input
          @id="status-checkbox-{{keyAndActive.key}}"
          @type="checkbox"
          @checked={{keyAndActive.active}}
          {{on "input" (fn @toggleStatus keyAndActive.key)}}
        />

        <label for="status-checkbox-{{keyAndActive.key}}">
          {{keyAndActive.label}}
          <span class="count">{{keyAndActive.count}}</span>
        </label>
      </li>
    {{/each}}
  </ul>
</aside>

<svg
  width="100%"
  height="{{this.height}}px"
  {{did-insert this.storeSvg}}
>
  {{#each this.requestRects as |requestRect|}}
    <text>x</text>
    <Request
      @x={{requestRect.x}}
      @y={{requestRect.y}}
      @width={{requestRect.width}}
      @height={{requestRect.height}}
      @request={{requestRect.request}}
      {{on "mouseover" (fn (mut this.activeRequestRect) requestRect)}}
      {{on "mouseout" (fn (mut this.activeRequestRect) 0)}}
    />
  {{/each}}

  {{#each this.ticks as |tick|}}
    <line
      class='grid'
      x1={{tick.x}}
      x2={{tick.x}}
      y1='0'
      y2={{tick.y2}}
    />

    <text
      class='tick-label'
      text-anchor='middle'
      x={{tick.x}}
      y='15'
    >
      {{tick.label}}
    </text>
  {{/each}}
</svg>