<aside>
  <ul>
    {{#each this.categoryIdsActive as |keyAndActive|}}
      <li>
        <span class="category-swatch category-{{keyAndActive.key}}"></span>

        <Input
          @id="category-checkbox-{{keyAndActive.key}}"
          @type="checkbox"
          @checked={{keyAndActive.active}}
          {{on "input" (fn this.toggleCategoryId keyAndActive.key)}}
        />

        <label for="category-checkbox-{{keyAndActive.key}}">
          {{keyAndActive.label}}
        </label>
      </li>
    {{/each}}
  </ul>

  <ul>
    {{#each this.statusIdsActive as |keyAndActive|}}
      <li>
        <Input
          @id="status-checkbox-{{keyAndActive.key}}"
          @type="checkbox"
          @checked={{keyAndActive.active}}
          {{on "input" (fn this.toggleStatusId keyAndActive.key)}}
        />

        <label for="status-checkbox-{{keyAndActive.key}}">
          {{keyAndActive.label}}
        </label>
      </li>
    {{/each}}
  </ul>
</aside>

<svg
  width="100%"
  height="100%"
  {{did-insert this.storeSvg}}
>
  {{#each this.requestRects as |requestRect|}}
    <Request
      @x={{requestRect.x}}
      @y={{requestRect.y}}
      @width={{requestRect.width}}
      @height={{requestRect.height}}
      @request={{requestRect.request}}
      {{on "mouseover" (fn @setActiveRequest requestRect.request)}}
      {{on "mouseout" (fn @setActiveRequest 0)}}
    />
  {{/each}}
</svg>